body {
        background-image: url("../assets/prueba.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

            header{
            margin-top: auto;
            text-align: center;
            
            }
        }